<html>
    <head>
        <title>Meadowlark Travel</title>
        <style>
            h1{
                color: #0b0101;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <header>
            <img src="/img/logo.jpg" alt="logo img" width="300" srcset="">
        </header>
        {{{body}}}
    </body>
</html>